    @import url('https://fonts.googleapis.com/css?family=Indie+Flower');

    img {
        border-radius:20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    body {
        background-color: black;
        background-image:url("../img/wall.png");
        text-align:center;

    }

    #name {
        font-family: 'Indie Flower', cursive;
        background-image:url("../img/plate.jpeg");
        width:800px;
        height:571;
        position:relative;
        margin-left: auto;
        margin-right: auto;
        text-align:center;
        font-size:1.2em;
    }
    
    #includes {
        font-family: "Times New Roman", Georgia, Serif;
        position:relative;
        margin-left: auto;
        margin-right: auto;
        text-align:center;
        font-size:1.0em;
        color:white;
    }
    
    #image {
        position:relative;
        margin-left: auto;
        margin-right: auto;
        width:125;
        height: auto;
    }
    
    footer{
        font-family: "Times New Roman", Georgia, Serif;
        font-size:.8em;
        width:600px;
        margin:0 auto;
        padding-top:10px;
    }