    @import url('https://fonts.googleapis.com/css?family=Indie+Flower');

    img {
        border-radius:20px;
        position:center;
    }
    
    body {
        background-color: black;
        background-image:url("../img/wall.png");

    }
    
    #name {
        font-family: 'Indie Flower', cursive;;
        background-image:url("../img/plate.jpeg");
        width:800px;
        height:571;
        position:relative;
        margin:0 auto;
        text-align:center;
        font-size:1.8em;
    }
    
    #includes {
        font-family: 'Indie Flower', cursive;;
        position:relative;
        margin:0 auto;
        text-align:center;
        font-size:1.0em;
        color:white;
    }
    
    footer{
        font-family: "Times New Roman", Georgia, Serif;
        font-size:.8em;
        width:600px;
        margin:0 auto;
        padding-top:10px;
    }