header, nav, footer {
    text-align: center;
    color: green;
}
main {
    text-align: left;
}
body{
    background-color:white;
    color:blue;
}
footer{
    clear:left;
    font-size:0.8em;
    color:green;
}
nav a {
    padding:15px;
    padding-bottom:4px;
    font-size:1.8em;
    text-decoration: none;
    color: green;
}



ul{
    text-align: left;
    padding-left: 200px;
}


nav a:hover {
    border-bottom:2px green solid;
    font-size: 2em;
    transition: .9s;
}

figure, div {
    float: left;
}

#me, #welcomeText{
    float:left;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 4em;
    margin-bottom:0px;
}
