    @import url('https://fonts.googleapis.com/css?family=Indie+Flower');

    img {
        border-radius:20px;
        margin-left: auto;
        margin-right: auto;
    }
    
    body {
        background-color: white;
        background-image:url("../img/wall.png");
        text-align:left;

    }

    h1 {
        color: blue;
    }
    

     #errorText {
        font-family: 'Indie Flower', cursive;
        top:20px;
        left:20px;
        margin-left: auto;
        margin-right: auto;
        text-align:left;
        font-size:1.2em;
        color:red;
    }
    
    footer{
        font-family: "Times New Roman", Georgia, Serif;
        font-size:1.2em;
        width:600px;
        margin:0 auto;
        background-color: grey;
        padding-top:10px;
    }